<div class="album">

  <div class="albumList">
    <ul *ngIf="loaded">
<!--      <div class="newAlbum">-->
<!--        <button (click)="openModal(template)"><img src="https://www.flaticon.com/svg/vstatic/svg/157/157999.svg?token=exp=1618840829~hmac=0626f890e02ca7099be7ef5d8060e9a8"></button>-->
<!--      </div>-->
      <li class="listOfAlbums" routerLink="/1/albums/{{album.id}}/photos">
<!--      <li *ngFor="let album of albums; let i=index;" class="listOfAlbums" routerLink="/1/albums/{{album.id}}/photos">-->
        <div class="box1"><img src="https://picsum.photos/id/1/5616/3744" class="image"></div>
        <div class="box2"><img src="https://picsum.photos/id/10/2500/1667" class="image"></div>
        <div class="box3"><img src="https://picsum.photos/id/100/2500/1656" class="image"></div>
        <div class="box4"><img src="https://picsum.photos/id/1000/5626/3635" class="image"></div>
        <div class="box5"><img src="https://picsum.photos/id/1001/5616/3744" class="image"></div>
        <div class="box6"><img src="https://picsum.photos/id/1002/4312/2868" class="image"></div>
        <div class="box">My First Album</div>
      </li>
    </ul>
  </div>

  <p *ngIf='!loaded'>Loading album list...</p>
</div>

<ng-template #template>
  <div class="modal-bg">
    <div class="modal">
      <h4>New Album</h4>
      <p>Please fill in the following field to create a new album for your pins</p>
      <input type="text" placeholder="Title">
      <div class="buttons">
        <button class="add-button" (click)="addAlbum()">Add New Album</button>
        <button class="close" (click)="modalRef.hide()">Close</button>
      </div>
    </div>
  </div>
</ng-template>


