<div class="category_container">
    <h1>Categories</h1>
    <div class="category">
        <img src="https://fsa.zobj.net/crop.php?r=tGVQcDgmGAXo_0BBoqrS-lLR8RMo7qthIgqEhzWXfr-rAcPA80FLfh2GlhBkjeuzoxaWxDprKlbwolRAo33hiCnYufmzUsybOD6DnA-1h-f76YLsgSlEYyuP3BkXnGK1yEGQSj-ag_TvzVVk" alt="">
        <h1>Title</h1>
    </div>
    <div class="category">
        <img src="https://fsa.zobj.net/crop.php?r=tGVQcDgmGAXo_0BBoqrS-lLR8RMo7qthIgqEhzWXfr-rAcPA80FLfh2GlhBkjeuzoxaWxDprKlbwolRAo33hiCnYufmzUsybOD6DnA-1h-f76YLsgSlEYyuP3BkXnGK1yEGQSj-ag_TvzVVk" alt="">
        <h1>Title</h1>
    </div>
</div>