.category_container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.category {
  width: 40%;
  height: 90px;
  padding: 6px;
  margin: 4px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-radius: 15px;
  box-shadow: 2px 4px 2px -2px rgba(0,0,0,.2);

  border: 1px rgb(207, 207, 207) solid;
  /* border: none; */
  background-color: rgb(245, 245, 245);
  cursor: pointer;
}

.category:hover {
  background-color: rgba(0, 0, 0, .1);
}

.category img {
  width: 15%;
  height: 98%;
  margin-right: 30px;
  border-radius: 10px;
}

.category h1 {
  margin-top: 15px;
}
