<div class="all-photos">
    <div *ngFor="let photo of photos" class="photos" (click)="openModal(template)">
      <div class="photo">
        <img src="{{photo.download_url}}">
      </div>
    </div>
</div>


<ng-template #template>
  <div class="modal-bg">
    <div class="modal">
      <img src="https://i.pinimg.com/originals/95/59/0e/95590ef0477f9a21b9a3eae6f3e1549a.jpg">
<!--      <img src="{{thisPhoto.download_url}}">-->
      <p>In Japanese folklore, Kitsune (狐, キツネ, IPA: [ki̥tsɯꜜne] (About this soundlisten) literally the Japanese word for fox) are intelligent foxes that possess paranormal abilities that increase as they get older and wiser. According to Yōkai folklore, all foxes have the ability to shapeshift into human form. While some folktales speak of kitsune employing this ability to trick others – as foxes in folklore often do – other stories portray them as faithful guardians, friends and lovers.</p>
      <button type="button" class="close" aria-label="close" (click)="modalRef.hide()"><span aria-hidden="true">x</span></button>
    </div>
  </div>
</ng-template>

